<template>
    <div class="show">
        <div class="name">
        {{ pokemon.name }}
        </div>
    
        <div class="numero">
        Numéro : {{ pokemon.pokedex_number }}
        </div>
        <div class="ab">
        Abilitées : {{ pokemon.abilities }}
        </div>
        <div class="type">
        Son type : {{ pokemon.type1 }}
        </div>
        <div class="attaque">
        Attaque : {{ pokemon.attack }}
        </div>

    </div>
    

</template>
<script>
export default {
    name: "PokeShow",
    props: ['pokemon']
}
</script>

<style scoped>
.show{
    background-color: rgb(230, 208, 44);margin: 1em;
    padding:1em;
    border-radius: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    line-height: 1,5; 
    width: 83%;
    
}



.name{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.numero{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: rgb(56,106,187);;
    
}
.ab{
    text-align: center;
    font-size: 22px;
}

.type{
    text-align: center;
    line-height: 1.5; 
    font-size: 22px;
}
.attaque{
    text-align: center;
    line-height: 1.5; 
    font-size: 22px;
}
     </style>