<template>
    <div class="card">
        
        <div>
        <img :src="'assets/'+pokemon.image" alt="">
        <div>
            <button class="btn">{{pokemon.name}}</button>

        
        
        
        </div>
        </div>
    </div>
    
</template>
<script>
export default {
    name: 'PokeCard',
    props: {
        pokemon: {
            type: Object
        }
    }
}
</script>
<style scoped>
.card{
    margin: 1em;
    padding:1em;
     border-radius: 15px;
     background-color: rgb(56,106,187);
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 24vw;
     text-align:center;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     
     
     
    
    }
    .card img{
        width: 70%;
        background-color: white;
        margin: 1em;
        padding:1em;
        border-radius: 15px;
        width: 80%;
     
     

    }

.btn{
    background-color: transparent;
    border: none; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    font-size: 22px; 
    cursor: pointer; 
    font-weight: bold;
    margin: 25px;
    
    
}
     </style>