<template>
    <div class="logo">
        <img src="../assets/International_Pokémon_logo.svg.png" alt="">
    </div>
    <div class="container">
        <PokeShow :pokemon="selectedPokemon"/>
        <PokeCard v-for="pokemon of pokemons" :key="pokemon" v-bind:pokemon="pokemon" @click="selectedPokemon = pokemon">
        </PokeCard>
    </div>
</template>
<script>
import PokeCard from './PokeCard.vue'
import PokeShow from './PokeShow.vue'

import json_pokemons from '@/assets/pokemon.json'
export default {
  name: 'PokeList',
  components: {
    PokeCard,
    PokeShow
  },
  data() {
    return {
        pokemons: json_pokemons,
        selectedPokemon: json_pokemons[0]
    }
  },
  created(){

  }
}
</Script>

<style scoped>
.container{
        display : flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

.logo{
    height: 150px;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    
}


</style>



