<template>
  <div>
    <header>
      <nav>
        <ul>
            <li><a href="page1.html">Pokémon</a></li>
            <li><a href="page2.html">Deck</a></li>
            <li><a href="page3.html">Arène</a></li>
        </ul>
    </nav>
    </header>
  
    <main>
      <PokeList/>
    </main>
  </div>
</template>

<script>
import PokeList from "./components/PokeList.vue"

export default {
  name: 'App',
  components: {
    PokeList  
  }
}
</script>

<style>


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
}

a:hover {
    color:rgb(56,106,187);
}
</style>
